{
  "presets": [
    "es2015",
    "stage-3"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-flow-strip-types",
    "transform-class-properties",
    "syntax-class-properties",
    "syntax-flow",
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": [
          "Error",
          "Array"
        ]
      }
    ]
  ]
}
